[Desktop Entry]
Categories=Qt;TextEditor;
Comment=
Encoding=UTF-8
Exec=texmaker
GenericName=LaTeX Editor
GenericName[fr]=Editeur LaTeX
GenericName[pl]=Edytor LaTeX
Icon=texmaker
MimeType=text/x-tex
MiniIcon=texmaker
Name=Texmaker
Name[fr]=Texmaker
Name[pl]=Texmaker
Terminal=false
Type=Application
# vi: encoding=utf-8
