[Desktop Entry]
Categories=Qt;TextEditor;
Comment=LaTeX development environment
Comment[fr]=Environnement de développement LaTeX
Comment[pl]=Środowisko edutorskie LaTeXa
Exec=texmaker
GenericName=LaTeX Editor
GenericName[fr]=Editeur LaTeX
GenericName[pl]=Edytor LaTeXa
Icon=texmaker
MimeType=text/x-tex;
Name=Texmaker
Terminal=false
Type=Application
# vi: encoding=utf-8
